<footer class="footer text-center text-sm-left mt-3">
    &copy; 2021 My Energy CLEVER Solution Portal Engineered in Cameroon By <a href="https://cleverelectric-company.com">CLEVER ELECTRIC Technologies</a> {# <span class="text-muted d-sm-inline-block float-md-right float-left">Developed by Pascal ALHADOUM</span> #}
</footer>