<div class="footer-wrapper">
    <div class="footer-section f-section-1">{# © #}
        <p class="">&copy; 2021 MY Energy CLEVER Portal, All rights reserved.</p>
    </div>
    <div class="footer-section f-section-2">
        <p class="">Engineered in Cameroon By <a target="_blank" href="https://cleverelectric-company.com" class="text-primary">CLEVER ELECTRIC Technologies</a>
        </p>
    </div>
</div>